body{
    background-color: #0e1212;
}
div#introduction ul p{
    color: #808080;
    
    font: 16px "Roboto Mono", monospace;
    
    text-align: left;
}
div#introduction {
    width: 100%;
}
ul#menu{
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
   
   
}
ul#menu li {
    float: left;

}
ul#menu li a {
    padding: 10px;
    display: block;
    font: 19px "Roboto Mono", monospace;
    text-decoration: none;
    transition: color .5s ease-out;
    color: whitesmoke;
}

ul#menu li img {
    width: 25px;
}
ul#menu li :hover{
    transition: color .5s ease-out;
    color: #B80F0A;
}
div#container{
    width: 100%;
    height: 50px;
}
.on{
    color: #DBDBDB ;
}
div#introduction ul h1{
    color: #808080;
    
    font: 40px "Roboto Mono", monospace;
    
}
ul#felsorolas {
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}